.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.element {
    width: 50vw;
}

.fft-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#plot-container > svg {
    padding-left: 5rem;
    padding-right: calc(5rem + 70px);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}